div.col-md-6.code-projects

    div.panel.panel-default
        div.panel-heading
            h4
                i.icon-align-justify.icon-large
                | My Blogs
        
        div.blog-collection-container
