body
    div.navbar-container
    div.jumbotron-container

    div.container


        div.row

            div.github-container

            div.blogs-container
    
    hr

    footer
        p 
            | &copy; Brad Harris | 
            a(href="https://github.com/selfcontained/resume") 
                i.icon-gears.icon-small
                |  resume
