div.col-md-6.code-projects

    div.panel.panel-default
        div.panel-heading
            h4
                i.icon-github-sign.icon-large 
                | My Projects 
                span.badge.pull-right #{collection.length}

        ul.repos-container
