div.navbar.navbar-inverse.navbar-fixed-top
    div.container
        div.navbar-header
            button(type="button", class="navbar-toggle", data-toggle="collapse", data-target=".navbar-collapse")
                span.icon-bar
                span.icon-bar
                span.icon-bar
            img.brad.pull-left(src="http://www.gravatar.com/avatar/c20763ec853bb1d2eb3e8a08cc5a28b9?s=40")
            a.navbar-brand(href="#") Brad Harris

        div.collapse.navbar-collapse
            ul.hidden-xs.nav.navbar-nav.pull-right
                li
                    a(href="https://github.com/selfcontained" target="_blank" title="GitHub")
                        i.icon-github-sign.icon-white.icon-large
                li
                    a(href="http://twitter.com/#!/selfcontained" target="_blank" title="Twitter")
                        i.icon-twitter-sign.icon-white.icon-large
                li
                    a(href="http://www.linkedin.com/in/bradharris" target="_blank" title="Linked-In")
                        i.icon-linkedin-sign.icon-white.icon-large
                li
                    a(href="http://profiles.google.com/bmharris" target="_blank" title="Google +")
                        i.icon-google-plus-sign.icon-white.icon-large
                li
                    a(href="http://selfcontained.tumblr.com" target="_blank" title="Tumblr - selfcontained")
                        i.icon-tumblr-sign.icon-white.icon-large
            ul.visible-xs.nav.navbar-nav
                li
                    a(href="https://github.com/selfcontained" target="_blank" title="GitHub")
                        i.icon-github-sign.icon-white.icon-large  github
                li
                    a(href="http://twitter.com/#!/selfcontained" target="_blank" title="Twitter")
                        i.icon-twitter-sign.icon-white.icon-large  twitter
                li
                    a(href="http://www.linkedin.com/in/bradharris" target="_blank" title="Linked-In")
                        i.icon-linkedin-sign.icon-white.icon-large  linked-in
                li
                    a(href="http://profiles.google.com/bmharris" target="_blank" title="Google +")
                        i.icon-google-plus-sign.icon-white.icon-large  google+
                li
                    a(href="http://selfcontained.tumblr.com" target="_blank" title="Tumblr - selfcontained")
                        i.icon-tumblr-sign.icon-white.icon-large  tumblr
